<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/sabredevlab/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Tailspin.SpaceGame.Web.Models>
      <add key="Username" value="Azure DevOps" />
      <add key="ClearTextPassword" value="%SYSTEM_ACCESSTOKEN%" />
    </Tailspin.SpaceGame.Web.Models>
  </packageSourceCredentials>
</configuration>